*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
}

body {
    background: url(/assets/hero-bg.svg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    font-family: "Angkor", serif;
    font-size: 14px;
    /* margin: 0; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
} 

header {
    height: 100%;
}
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding-bottom: 5%;
}

.main-heading {
    display: flex;
    font-size: 8rem;
    width: 100%;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-end;
    gap: 2%;    
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
    -webkit-filter:  brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.logo img{
    width: 3rem;
    height: 1.5rem;
    -webkit-filter:  brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.navbar .love-letters {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -7rem;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.tech-fest {
    display: flex;
    text-shadow: 8px 6px #6ae8fe;
}
.twenty-four {
    display: flex;
    text-shadow: 8px 6px #6ae8fe;
}



.minor-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 1.4em;
    /* height: fit-content; */
    font-size: 3em;
    /* color: #000; */
    font-family: "Lato", Helvetica, sans-serif;
    color: #FFFBEF;
    font-weight: 50;
    margin-bottom: 3%;
} 

.info-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 100%;
    /* height: 100%;  */
    color: rgb(40, 79, 0);

}
.date,
.venue {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 20%;
    background: #ffffff;
    font-size: 2rem;
    box-shadow: 5px 5px #6ae8fe;
}
.info-heading-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #00333c;
    text-align: center;
}

/* ANIMATIONS */
.navbar .logo {
    animation: showup 2s;
}
.navbar .love-letters{
    animation: showup 1.5s;
}
.main-heading {   
    animation: reveal 1s ;
}

.minor-heading {
    animation: showup 1s;
}

.date {
    /* width:0px; */
    animation: slideinRight 3s;
}
.venue {
    animation: slideinLeft 3s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:0.3;}
    80% {opacity:0.7;}
    100% {opacity:1;}
}
@keyframes slideinLeft {
    /* 0% { margin-left: -200%; }
    20% { margin-left:-200%; }
    35% { margin-left:0px; }
    100% { margin-left:0px; } */
    0% { transform: translateX(-200%); }
    20% { transform: translateX(-200%); }
    35% { transform: translateX(0); }
    100% { transform: translateX(0); }
}
@keyframes slideinRight {
    /* 0% { margin-right: -200%; }
    20% { margin-right:-200%; }
    35% { margin-right:0px; }
    100% { margin-right:0px; } */

    0% { transform: translateX(200%); }
    20% { transform: translateX(200%); }
    35% { transform: translateX(0); }
    100% { transform: translateX(0); }
}
@keyframes reveal {
    0% {opacity:0;}
    20% {opacity:0.3;}
    30% {opacity: 0.5;}
    80% {opacity:0.7;}
    100% {opacity:1;}
}




@media screen and (max-width:992px) { 
    .hero-container {
        padding-bottom: 5%;
    }
    .main-heading {
        display: flex;
        font-size: 8rem;
        width: 100%;
        margin: 0;
        gap: 2%;    
        margin-bottom: 5%;
        color: #FABC05;
    }
   
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5rem;
        /* -webkit-filter:  brightness(0) invert(1);
        filter: brightness(0) invert(1); */
    }

    .logo img{
        width: 3rem;
        height: 1.5rem;
        -webkit-filter: none;
        filter: none;
    }
    .navbar .love-letters {
        position: relative;
        text-align: center;
        width: 100%;
        bottom: -4rem;
        font-family: "Lato", Helvetica, sans-serif;
        color: #34A853;
        opacity: 70%;
        font-size: 1.4rem;
        font-weight: 700;
    }
    /* FABC05 */
    .tech-fest {
        display: flex;
        flex-direction: column;
        text-shadow: 8px 6px #EB4237;
        line-height: 8rem;
        padding: 0 0;
        margin: 0;
    }
    .tech-fest span {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .tech-fest .tech {
        padding: 0;
        margin: 0;
    }
    .twenty-four {
        display: flex;
        flex-direction: column;
        text-shadow: 8px 6px #FFF3CD;
        line-height: 8rem;
        width: max-content;
        height: max-content;
        padding: 1rem;
        background: #EB4336;
    }
    .info-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        width: 100%;
        color: #FFFBEF;
        margin-top: 5%;
        margin-bottom: 5%
    }
    .date,
    .venue {
        display: flex;
        justify-content: center;
        cursor: pointer;
        height: 100%;
        width: 40%;
        margin-top: 2%;
        margin-bottom: 2%;
        background: #EB4336;
        font-size: 2rem;
        box-shadow: 5px 5px #FFF3CD;
    }
    /* .info-heading-link {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #FFF3CD;
        text-align: center;
    }     */
}

@media screen and (max-width:600px) { 
    .hero-container {
        padding-bottom: 4%;
    }
    .main-heading {
        display: flex;
        font-size: 8rem;
        width: 100%;
        margin: 0;
        gap: 2%;    
        margin-bottom: 5%;
        color: #FBBC04;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        margin-bottom: 5rem;
        -webkit-filter: none;
        filter: none;
        padding: 1rem 1rem;
    }
    
    .logo img{
        width: 3.2rem;
        height: 1.5rem;
        -webkit-filter: none;
        filter: none;
    }
    .navbar .love-letters {
        position:inherit;
        z-index: 5;
        margin: 0;
        padding: 0;
        width: fit-content;
        width: -moz-fit-content;
        text-align: center;
        color: #34A853;
        word-spacing: 0.2rem;
        margin-bottom: 0.3rem;
        font-family: "Lato", Helvetica, sans-serif;
        opacity: 100%;
        font-size: 1.2rem;
        /* font-weight: 700; */
    } 
    /* FABC05 */
    .tech-fest {
        display: flex;
        flex-direction: column;
        text-shadow: 5px 4px #EB4237;
        font-size: 4rem;
        line-height: 4rem;
        padding: 0 0;
        margin: 0;
    }
    .tech-fest span {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .tech-fest .tech {
        padding: 0;
        margin: 0;
    }
    .twenty-four {
        display: flex;
        flex-direction: column;
        font-size: 3.2rem;
        line-height: 3rem;
        text-shadow: 4px 3px #FFF3CD;
        width: max-content;
        height: max-content;
        padding: 0.01 1rem;
        margin-bottom: 5px;
        margin-left: 5px;
        background: #EB4336;
    }
    .minor-heading {
        font-size: 1.2rem;
    }
    .info-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        width: 100%;
        /* font-size: rem; */
        /* line-height: 4rem; */
        color: #FFFBEF;
        margin-top: 5%;
    }
    .date,
    .venue {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        background: #EB4336;
        font-size: 1.5rem;
        box-shadow: 5px 5px #FFF3CD;
    }
    .info-heading-link {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    

    
    }

    /* ANIMATIONS */
    .navbar .logo {
        animation: showup 3s;
    }
    .navbar .love-letters{
        animation: showup 3s;
    }
}
/* Google Sans, -apple-system, BlinkMacSystemFont, sans-serif; */